html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#app-map {
    height: 93%;
    width: 100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    text-decoration: none;
    font-size: 14px;
    color: gray;
    display: block;
    transition: 0.3s;
}

.sidenav h2 {
    color: white;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    position: relative;
    transition: margin-left .5s;
    margin: 0;
    padding: 0px;
    height: 98%;
}

#header {
    height: 9%;
    background-color: black;
}

#menu-icon {
    color: white;
    font-size: 50px;
    cursor: pointer;
}

.list-group {
    color: white;
    background-color: black;
}

.list-group-item {
    position: relative;
    background-color: black;
    color: white;
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}
